/*style.css*/
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  


body {
    font-family:"ABeeZee",sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
	min-height: 100vh;
	background: #f3f3f3;
	flex-direction: column;
	margin: 0;
}

.text{
    color: white;
}

.main {
	background-color: #000000;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	transition: transform 0.2s;
	width: 500px;
	text-align: center;
}
#image{
margin-top:10%;
height: 128px;
width:  128px;
border-radius: 100%;
}




h1 {
	color: #4CAF50;
}

label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	color: #ffffff;
	font-weight: bold;
}


input {
    font-family:"ABeeZee",sans-serif;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
    font-family:"ABeeZee",sans-serif;
	padding: 15px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: white;
	cursor: pointer;
	background-color:rgb(5, 126, 232);
	width: 100%;
	font-size: 16px;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
